.version.index /* version checker */
{
	color: #00000E;
	background-color: #860D91;
}

.html
{
	background-color: #77CEC8;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 46px;
	width: 0.01px;
}

#u970_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#u975
{
	z-index: 138;
	width: 227px;
	margin-bottom: -35px;
	margin-right: -10000px;
	left: 100px;
}

#u970,#u970-bw
{
	z-index: 137;
	min-height: 97px;
}

#u989-4
{
	z-index: 129;
	width: 432px;
	min-height: 40px;
	background-color: transparent;
	letter-spacing: -1px;
	font-size: 23px;
	text-align: center;
	line-height: 28px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 284px;
	margin-top: 47px;
	position: relative;
}

#pu984
{
	width: 0.01px;
	margin-left: 146px;
	margin-top: 23px;
}

#u984
{
	z-index: 134;
	width: 339px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u982
{
	z-index: 133;
	width: 350px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 362px;
}

#u998
{
	z-index: 135;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 717px;
}

#u998_clip
{
	overflow: hidden;
	width: 28px;
	height: 28px;
}

#u998_img
{
	margin: 2px 8px 2px -4px;
}

#u1331
{
	z-index: 2;
	min-height: 107px;
	background-color: #FFFFFF;
	padding-bottom: 15px;
}

#u1331_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
}

#u144-6
{
	z-index: 3;
	width: 432px;
	min-height: 40px;
	background-color: transparent;
	letter-spacing: -1px;
	font-size: 23px;
	text-align: center;
	line-height: 28px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 384px;
}

#u144-2
{
	padding-bottom: 6px;
}

#u1331-bw
{
	z-index: 2;
	min-height: 107px;
	margin-top: 40px;
}

#pu553
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 31px;
}

#u553
{
	z-index: 9;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u621
{
	z-index: 114;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -15px;
	left: -14px;
}

#u623-4
{
	z-index: 117;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu561
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 21px;
}

#u561
{
	z-index: 15;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u577-4
{
	z-index: 27;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u583-6
{
	z-index: 51;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u591-5
{
	z-index: 84;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u557
{
	z-index: 12;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u563
{
	z-index: 17;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u580-4
{
	z-index: 39;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u587-5
{
	z-index: 69;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u595-5
{
	z-index: 99;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu554
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 29px;
}

#u554
{
	z-index: 10;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u565
{
	z-index: 19;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u578-4
{
	z-index: 31;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#pu1281-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 265px;
}

#u1281-6
{
	z-index: 57;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1280-5
{
	z-index: 89;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u558
{
	z-index: 13;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u629
{
	z-index: 115;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
	left: -15px;
}

#u628-4
{
	z-index: 121;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu563,#pu565,#pu567
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 21px;
}

#u567
{
	z-index: 21;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u581-4
{
	z-index: 43;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#pu587-5,#pu1282-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 277px;
}

#u1282-5
{
	z-index: 74;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1283-5
{
	z-index: 104;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu555
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 27px;
}

#u555
{
	z-index: 11;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u569
{
	z-index: 23;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u579-4
{
	z-index: 35;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#pu583-6,#pu1285-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 265px;
}

#u1285-6
{
	z-index: 63;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u583-2,#u1281-2,#u1285-2
{
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

#u1284-5
{
	z-index: 94;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u559
{
	z-index: 14;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u553:hover,#u557:hover,#u554:hover,#u558:hover,#u555:hover,#u559:hover
{
	-pie-box-shadow: 0px 5px 0px #7F7F7F;
	box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	border-color: #FFFFFF;
	width: 414px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u631
{
	z-index: 116;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -13px;
	left: -14px;
}

#u630-4
{
	z-index: 125;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu569,#pu571
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 21px;
}

#u571
{
	z-index: 25;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u582-4
{
	z-index: 47;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#pu1286-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 276px;
}

#u1286-5
{
	z-index: 79;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1287-5
{
	z-index: 109;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u583,#u591,#u587,#u595,#u1281,#u1280,#u1282,#u1283,#u1285,#u1284,#u1286,#u1287
{
	font-family: fira-sans, sans-serif;
	font-weight: 700;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-bottom: 51px;
}

#page .verticalspacer
{
	clear: both;
}

