.version.index /* version checker */
{
	color: #000011;
	background-color: #2165A9;
}

.html
{
	background-color: #77CEC8;
}

#page
{
	z-index: 1;
	width: 913px;
	min-height: 310px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 144px 44px 46px 43px;
}

#u970
{
	z-index: 394;
	height: 97px;
	top: 0px;
}

#u970-bw
{
	z-index: 394;
}

#u975
{
	z-index: 395;
	width: 227px;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}

#u989-4
{
	z-index: 388;
	width: 432px;
	min-height: 40px;
	background-color: transparent;
	letter-spacing: -1px;
	font-size: 23px;
	text-align: center;
	line-height: 28px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 241px;
	position: relative;
}

#pu984
{
	width: 0.01px;
	margin-left: 103px;
	margin-top: 23px;
}

#u984
{
	z-index: 393;
	width: 339px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u982
{
	z-index: 392;
	width: 413px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 362px;
}

#u144-6
{
	z-index: 2;
	width: 432px;
	min-height: 40px;
	background-color: transparent;
	letter-spacing: -1px;
	font-size: 23px;
	text-align: center;
	line-height: 28px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 241px;
	margin-top: 58px;
	position: relative;
}

#u144-2
{
	padding-bottom: 6px;
}

#pu553
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 45px;
}

#u553
{
	z-index: 8;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u621
{
	z-index: 348;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -15px;
	left: -14px;
}

#u623-4
{
	z-index: 356;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u561
{
	z-index: 28;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u577-4
{
	z-index: 68;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u583-5
{
	z-index: 148;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u591-5
{
	z-index: 248;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u557
{
	z-index: 18;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u563
{
	z-index: 34;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u580-4
{
	z-index: 108;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u587-5
{
	z-index: 198;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u595-5
{
	z-index: 298;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu554
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 29px;
}

#u554
{
	z-index: 11;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u565
{
	z-index: 40;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u578-4
{
	z-index: 80;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u584-5
{
	z-index: 163;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u592-5
{
	z-index: 263;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u558
{
	z-index: 21;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u629
{
	z-index: 351;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
	left: -15px;
}

#u628-4
{
	z-index: 368;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u567
{
	z-index: 46;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u581-4
{
	z-index: 120;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u588-5
{
	z-index: 213;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u596-5
{
	z-index: 313;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu555
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 78px;
}

#u555
{
	z-index: 14;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u569
{
	z-index: 52;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u579-4
{
	z-index: 92;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u585-5
{
	z-index: 178;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u593-5
{
	z-index: 278;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u559
{
	z-index: 24;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u631
{
	z-index: 354;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -13px;
	left: -14px;
}

#u630-4
{
	z-index: 380;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u571
{
	z-index: 56;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u582-4
{
	z-index: 132;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u589-5
{
	z-index: 228;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u597-5
{
	z-index: 328;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u556
{
	z-index: 16;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u573
{
	z-index: 60;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u705-4
{
	z-index: 100;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 10px;
	position: relative;
}

#u586-5
{
	z-index: 188;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u594-5
{
	z-index: 288;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u560
{
	z-index: 26;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u575
{
	z-index: 64;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u704-4
{
	z-index: 140;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 10px;
	position: relative;
}

#u590-5
{
	z-index: 238;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u598-5
{
	z-index: 338;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu556,#pu813
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 28px;
}

#u813
{
	z-index: 9;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u814
{
	z-index: 349;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -15px;
	left: -14px;
}

#u815-4
{
	z-index: 360;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u816
{
	z-index: 30;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u820-4
{
	z-index: 72;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u821-5
{
	z-index: 153;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u819-5
{
	z-index: 253;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u831
{
	z-index: 19;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u835
{
	z-index: 36;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u829-4
{
	z-index: 112;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u844-5
{
	z-index: 203;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u843-5
{
	z-index: 303;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu823
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 27px;
}

#u823
{
	z-index: 12;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u832
{
	z-index: 42;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u840-4
{
	z-index: 84;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u830-5
{
	z-index: 168;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u838-5
{
	z-index: 268;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u828
{
	z-index: 22;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u822
{
	z-index: 352;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
	left: -15px;
}

#u827-4
{
	z-index: 372;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u824
{
	z-index: 48;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u839-4
{
	z-index: 124;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u842-5
{
	z-index: 218;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u841-5
{
	z-index: 318;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u850
{
	z-index: 15;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u851
{
	z-index: 54;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u870-4
{
	z-index: 96;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 14px;
	position: relative;
}

#pu585-5,#pu849-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 23px;
	margin-left: 265px;
}

#u849-5
{
	z-index: 183;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u858-5
{
	z-index: 283;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u847
{
	z-index: 25;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u846
{
	z-index: 355;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -13px;
	left: -14px;
}

#u845-4
{
	z-index: 384;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu569,#pu571,#pu854
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 21px;
}

#u854
{
	z-index: 58;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u862-4
{
	z-index: 136;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#u848-5
{
	z-index: 233;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u857-5
{
	z-index: 333;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u866
{
	z-index: 17;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u867
{
	z-index: 62;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u873-4
{
	z-index: 104;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 10px;
	position: relative;
}

#u860-5
{
	z-index: 193;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u872-5
{
	z-index: 293;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u859
{
	z-index: 27;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#pu573,#pu575,#pu851,#pu867,#pu863
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 21px;
}

#u863
{
	z-index: 66;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u874-4
{
	z-index: 144;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 10px;
	position: relative;
}

#pu590-5,#pu861-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 277px;
}

#u861-5
{
	z-index: 243;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u871-5
{
	z-index: 343;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu850,#pu866,#pu918
{
	width: 0.01px;
	margin-top: 28px;
}

#u918
{
	z-index: 10;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u938
{
	z-index: 350;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -15px;
	left: -14px;
}

#u937-4
{
	z-index: 364;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu561,#pu816,#pu930
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 21px;
}

#u930
{
	z-index: 32;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u934-4
{
	z-index: 76;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#pu583-5,#pu586-5,#pu821-5,#pu860-5,#pu935-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 265px;
}

#u935-5
{
	z-index: 158;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u923-5
{
	z-index: 258;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u917
{
	z-index: 20;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u924
{
	z-index: 38;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u916-4
{
	z-index: 116;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#pu587-5,#pu844-5,#pu936-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 277px;
}

#u936-5
{
	z-index: 208;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u922-5
{
	z-index: 308;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu919
{
	width: 0.01px;
	margin-top: 29px;
}

#u919
{
	z-index: 13;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u927
{
	z-index: 44;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u933-4
{
	z-index: 88;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#pu584-5,#pu830-5,#pu921-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 265px;
}

#u921-5
{
	z-index: 173;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u920-5
{
	z-index: 273;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u907
{
	z-index: 23;
	width: 414px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u553:hover,#u557:hover,#u554:hover,#u558:hover,#u555:hover,#u559:hover,#u556:hover,#u560:hover,#u813:hover,#u831:hover,#u823:hover,#u828:hover,#u850:hover,#u847:hover,#u866:hover,#u859:hover,#u918:hover,#u917:hover,#u919:hover,#u907:hover
{
	background-color: #E4FFFF;
	width: 414px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u914
{
	z-index: 353;
	width: 35px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
	left: -15px;
}

#u915-4
{
	z-index: 376;
	width: 28px;
	min-height: 27px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu563,#pu565,#pu567,#pu835,#pu832,#pu824,#pu924,#pu927,#pu910
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 21px;
}

#u910
{
	z-index: 50;
	width: 223px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u913-4
{
	z-index: 128;
	width: 210px;
	min-height: 22px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 13px;
	position: relative;
}

#pu588-5,#pu589-5,#pu842-5,#pu848-5,#pu909-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 277px;
}

#u909-5
{
	z-index: 223;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u908-5
{
	z-index: 323;
	width: 116px;
	min-height: 33px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u583,#u591,#u587,#u595,#u584,#u592,#u588,#u596,#u585,#u593,#u589,#u597,#u586,#u594,#u590,#u598,#u821,#u819,#u844,#u843,#u830,#u838,#u842,#u841,#u849,#u858,#u848,#u857,#u860,#u872,#u861,#u871,#u935,#u923,#u936,#u922,#u921,#u920,#u909,#u908
{
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-bottom: 51px;
}

#page .verticalspacer
{
	clear: both;
}

