#u970
{
	-pie-box-shadow: 0px 5px 4px #C9C9C9;
	box-shadow: 0px 5px 4px rgba(0,0,0,0.21);
	background-color: #FFFFFF;
	position: fixed;
}

#u975
{
	background-color: transparent;
	position: fixed;
}

