.version.error /* version checker */
{
	color: #0000FB;
	background-color: #75F6F6;
}

@-ms-viewport
{
	width: 450px;
}

@-webkit-viewport
{
	width: 450px;
}

@-o-viewport
{
	width: 450px;
}

@-moz-viewport
{
	width: 450px;
}

@viewport
{
	width: 450px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 288px;
	min-height: 370.81144067796674px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 89px 81px 110.18855932203326px;
}

#u1253
{
	z-index: 2;
	width: 127px;
	background-color: transparent;
	margin-left: 80px;
	position: relative;
}

#u1255-4
{
	z-index: 4;
	width: 289px;
	min-height: 72px;
	background-color: transparent;
	line-height: 23px;
	letter-spacing: 0px;
	font-size: 19px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 42px;
	position: relative;
}

#u1256-4
{
	z-index: 8;
	width: 109px;
	min-height: 39px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	margin-top: 7px;
	position: relative;
}

#u1256-4:hover
{
	background-color: #77CEC8;
	border-radius: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 109px;
	margin: 7px 0px 0px 89px;
}

body
{
	position: relative;
	min-width: 450px;
}

#page .verticalspacer
{
	clear: both;
}

