.version.feedback /* version checker */
{
	color: #0000EE;
	background-color: #B703DE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #77CEC8;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.9666666666665px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 75px;
	width: 0.01px;
}

#u1137
{
	z-index: 25;
	width: 141px;
	margin-bottom: -18px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 120px;
}

#u1126,#u1126-bw
{
	z-index: 24;
	min-height: 147px;
}

#u1351-8
{
	z-index: 2;
	width: 316px;
	min-height: 40px;
	background-color: transparent;
	color: #25403E;
	font-size: 19px;
	text-align: center;
	line-height: 23px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 33px;
	margin-top: 54px;
	position: relative;
}

#u1351-4
{
	padding-bottom: 12px;
}

#pu1352
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: 29px;
}

#u1352
{
	z-index: 10;
	width: 86px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u1357
{
	z-index: 18;
	width: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 13px;
}

#u1353
{
	z-index: 11;
	width: 86px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u1359
{
	z-index: 20;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 13px;
}

#u1354
{
	z-index: 12;
	width: 86px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u1352:hover,#u1353:hover,#u1354:hover
{
	-pie-box-shadow: 0px 5px 0px #7F7F7F;
	box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	border-color: #FFFFFF;
	width: 86px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1361
{
	z-index: 22;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 13px;
}

#u1355
{
	z-index: 13;
	width: 247px;
	background-color: #FFFFFF;
	border-radius: 12px;
	padding-bottom: 7px;
	margin-left: 67px;
	margin-top: 37px;
	position: relative;
}

#u1355:hover
{
	-pie-box-shadow: 0px 5px 0px #7F7F7F;
	box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	border-color: #FFFFFF;
	width: 247px;
	min-height: 0px;
	margin: 37px 0px 0px 67px;
}

#u1356-4
{
	z-index: 14;
	width: 217px;
	min-height: 41px;
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 15px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

