.version.index /* version checker */
{
	color: #00000D;
	background-color: #293879;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #77CEC8;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-bottom: 71px;
	width: 0.01px;
}

#u1137
{
	z-index: 71;
	width: 141px;
	margin-bottom: -18px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 120px;
}

#u1126,#u1126-bw
{
	z-index: 70;
	min-height: 147px;
}

#u1151
{
	z-index: 74;
	width: 339px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 36px;
	position: relative;
}

#u1149
{
	z-index: 73;
	width: 331px;
	min-height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 11px;
	position: relative;
}

#u1153
{
	z-index: 75;
	width: 63px;
	background-color: transparent;
	margin-left: 159px;
	margin-top: 6px;
	position: relative;
}

#u1159-6
{
	z-index: 2;
	width: 226px;
	min-height: 40px;
	background-color: transparent;
	letter-spacing: -1px;
	font-size: 19px;
	text-align: center;
	line-height: 23px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 77px;
	margin-top: 13px;
	position: relative;
}

#u1159-2
{
	padding-bottom: 6px;
}

#pu1304
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 34px;
}

#u1304
{
	z-index: 8;
	width: 331px;
	background-color: #FFFFFF;
	border-radius: 12px;
	position: relative;
	margin-right: -10000px;
}

#u1310
{
	z-index: 25;
	width: 37px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	left: -15px;
	position: relative;
}

#u1311-4
{
	z-index: 26;
	width: 30px;
	min-height: 28px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u1305
{
	z-index: 9;
	width: 267px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 32px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1307-4
{
	z-index: 11;
	width: 215px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-left: 32px;
	margin-top: 6px;
	position: relative;
}

#u1309-5
{
	z-index: 20;
	width: 267px;
	min-height: 22px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 32px;
	margin-top: 21px;
	position: relative;
}

#u1308-5
{
	z-index: 15;
	width: 267px;
	min-height: 19px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 32px;
}

#pu1312
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 19px;
}

#u1312
{
	z-index: 30;
	width: 267px;
	background-color: #FFFFFF;
	border-radius: 12px;
	position: relative;
	margin-right: -10000px;
	padding: 15px 32px 8px;
}

#u1312:hover
{
	-pie-box-shadow: 0px 5px 0px #7F7F7F;
	box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	border-color: #FFFFFF;
	width: 267px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1313
{
	z-index: 31;
	width: 267px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1315-4
{
	z-index: 33;
	width: 215px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-top: 5px;
	position: relative;
}

#u1317-5
{
	z-index: 42;
	width: 267px;
	min-height: 22px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-top: 22px;
	position: relative;
}

#u1316-5
{
	z-index: 37;
	width: 267px;
	min-height: 19px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 32px;
}

#pu1318
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 20px;
}

#u1318
{
	z-index: 47;
	width: 331px;
	background-color: #FFFFFF;
	border-radius: 12px;
	position: relative;
	margin-right: -10000px;
}

#u1304:hover,#u1318:hover
{
	-pie-box-shadow: 0px 5px 0px #7F7F7F;
	box-shadow: 0px 5px 0px rgba(0,0,0,0.5);
	border-color: #FFFFFF;
	width: 331px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1304_position_content,#u1318_position_content
{
	margin-top: -15px;
	padding-bottom: 8px;
}

#u1324
{
	z-index: 65;
	width: 37px;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 4px;
	left: -15px;
	position: relative;
}

#u1325-4
{
	z-index: 66;
	width: 30px;
	min-height: 28px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u1319
{
	z-index: 48;
	width: 267px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 32px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1321-4
{
	z-index: 50;
	width: 215px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-left: 32px;
	margin-top: 6px;
	position: relative;
}

#u1323-5
{
	z-index: 60;
	width: 267px;
	min-height: 22px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 32px;
	margin-top: 21px;
	position: relative;
}

#u1322-6
{
	z-index: 54;
	width: 267px;
	min-height: 19px;
	background-color: transparent;
	font-size: 13px;
	line-height: 16px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 32px;
}

#u1309,#u1308,#u1317,#u1316,#u1323,#u1322
{
	font-family: fira-sans, sans-serif;
	font-weight: 700;
}

#u1322-2
{
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

