.version.map /* version checker */
{
	color: #0000ED;
	background-color: #1EDEB6;
}

@-ms-viewport
{
	width: 450px;
}

@-webkit-viewport
{
	width: 450px;
}

@-o-viewport
{
	width: 450px;
}

@-moz-viewport
{
	width: 450px;
}

@viewport
{
	width: 450px;
}

.html
{
	background-color: #77CEC8;
}

#page
{
	z-index: 1;
	width: 450px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-bottom: 71px;
	width: 0.01px;
}

#u1137
{
	z-index: 37;
	width: 141px;
	margin-bottom: -18px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 155px;
}

#u1126,#u1126-bw
{
	z-index: 36;
	min-height: 147px;
}

#u1258-4
{
	z-index: 2;
	width: 278px;
	min-height: 40px;
	background-color: transparent;
	line-height: 23px;
	color: #25403E;
	font-size: 19px;
	text-align: center;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 86px;
	margin-top: 25px;
	position: relative;
}

#pu1259
{
	width: 0.01px;
	margin-left: 55px;
	margin-top: 23px;
}

#u1259
{
	z-index: 6;
	width: 320px;
	background-color: #FFFFFF;
	border-radius: 12px;
	position: relative;
	margin-right: -10000px;
	padding: 10px 12px 50px;
}

#u1267
{
	z-index: 12;
	width: 269px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	position: relative;
}

#u1778
{
	z-index: 35;
	width: 314px;
	min-height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 18px;
	position: relative;
}

#u1775-9
{
	z-index: 13;
	width: 319px;
	min-height: 54px;
	background-color: transparent;
	font-size: 14px;
	margin-left: 1px;
	margin-top: 21px;
	position: relative;
}

#u1776-9
{
	z-index: 22;
	width: 319px;
	min-height: 54px;
	background-color: transparent;
	font-size: 14px;
	text-align: right;
	margin-top: 6px;
	position: relative;
}

#u1775-2,#u1776-2
{
	padding-bottom: 12px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

#u1775-4,#u1775-7,#u1776-4,#u1776-7
{
	padding-bottom: 12px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
}

#u1775-6,#u1776-6
{
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

#u1265
{
	z-index: 7;
	width: 190px;
	background-color: #77CEC8;
	border-radius: 12px;
	padding-bottom: 4px;
	margin-left: 64px;
	margin-top: 21px;
	position: relative;
}

#u1265:hover
{
	background-color: #5FCEC8;
	width: 190px;
	min-height: 0px;
	margin: 21px 0px 0px 64px;
}

#u1266-4
{
	z-index: 8;
	width: 127px;
	min-height: 31px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 21px;
	text-align: center;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 31px;
}

#u1777-4
{
	z-index: 31;
	width: 61px;
	min-height: 31px;
	background-color: transparent;
	line-height: 32px;
	color: #77CEC8;
	font-size: 27px;
	text-align: center;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 381px;
	left: 141px;
}

body
{
	position: relative;
	min-width: 450px;
}

#page .verticalspacer
{
	clear: both;
}

