.version.map /* version checker */
{
	color: #0000F2;
	background-color: #1C60E9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #77CEC8;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-bottom: 71px;
	width: 0.01px;
}

#u1137
{
	z-index: 38;
	width: 141px;
	margin-bottom: -18px;
	margin-right: -10000px;
	margin-top: -3px;
	left: 120px;
}

#u1126,#u1126-bw
{
	z-index: 37;
	min-height: 147px;
}

#u1258-4
{
	z-index: 2;
	width: 278px;
	min-height: 40px;
	background-color: transparent;
	font-size: 19px;
	text-align: center;
	line-height: 23px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	margin-left: 51px;
	margin-top: 25px;
	position: relative;
}

#pu1259
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 23px;
}

#u1259
{
	z-index: 6;
	width: 320px;
	background-color: #FFFFFF;
	border-radius: 12px;
	position: relative;
	margin-right: -10000px;
	padding: 10px 13px 50px 11px;
}

#u1267
{
	z-index: 36;
	width: 269px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 25px;
	position: relative;
}

#u1260
{
	z-index: 7;
	width: 301px;
	border-width: 2px;
	border-style: solid;
	border-color: #77CEC8;
	background-color: transparent;
	border-radius: 12px;
	margin-left: 8px;
	margin-top: 13px;
	position: relative;
}

#u1260 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u1262-9
{
	z-index: 9;
	width: 319px;
	min-height: 54px;
	background-color: transparent;
	font-size: 14px;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u1263-9
{
	z-index: 18;
	width: 319px;
	min-height: 54px;
	background-color: transparent;
	font-size: 14px;
	text-align: right;
	margin-top: 25px;
	position: relative;
}

#u1262-2,#u1263-2
{
	padding-bottom: 12px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

#u1262-4,#u1262-7,#u1263-4,#u1263-7
{
	padding-bottom: 12px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
}

#u1262-6,#u1263-6
{
	font-family: fira-sans, sans-serif;
	font-weight: 500;
}

#u1265
{
	z-index: 31;
	width: 190px;
	background-color: #77CEC8;
	border-radius: 12px;
	padding-bottom: 4px;
	margin-left: 65px;
	margin-top: 14px;
	position: relative;
}

#u1265:hover
{
	background-color: #5FCEC8;
	width: 190px;
	min-height: 0px;
	margin: 14px 0px 0px 65px;
}

#u1266-4
{
	z-index: 32;
	width: 127px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 21px;
	text-align: center;
	line-height: 25px;
	font-family: fira-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 31px;
}

#u1264-4
{
	z-index: 27;
	width: 135px;
	min-height: 47px;
	background-color: transparent;
	color: #77CEC8;
	font-size: 33px;
	text-align: center;
	line-height: 40px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 94px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

